/bootstrap/compiled.php
.vagrant
vendor
.idea
/public/pma
/public/dreamfactory
/public/df-admin-app
/public/filemanager
/public/df-swagger-ui
/workbench
composer.phar
_ide_helper.php
.env
.env-backup-homestead
phpunit.xml
.DS_Store
Thumbs.db
/storage/cache/*
/storage/framework/cache/*
/storage/framework/limit_cache/*
/bootstrap/cache/*
.dfe.cluster.json
Homestead.yaml
hhvm.hdf
www.pid
afterScriptLog.txt
composer.json-*
.env-bak
node_modules
