/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/bootstrap/compiled.php
/bootstrap/cache/*
/public/pma
/public/dreamfactory
/public/df-api-docs-ui
/public/dev-df-admin-app
/public/dev-df-api-docs-ui
/public/dev-df-filemanager-app
/public/df-admin-app
/public/filemanager
/public/df-swagger-ui
/storage/framework/cache/*
/storage/framework/limit_cache/*
/workbench
.vagrant
composer.phar
_ide_helper.php
phpunit.xml
.DS_Store
Thumbs.db
.dfe.cluster.json
.env-backup-homestead
.env-bak
.env-local
.env-vagrant
.env.tmp
hhvm.hdf
www.pid
afterScriptLog.txt
composer.json.full_debug
composer.json-install-bkup
after.sh
.vscode

/.phpunit.cache