
#fileModal input[type="radio"], input[type="checkbox"] {
    float: left;
    margin: 0px 5px;
}

#fileInput {
    width:520px;
}

#urlImportText {
    width: 515px;
}

#importReplace {
    margin-left: 30px;
}

.fmObject {
    margin: 3px;
}

.fmSquareButton {
    padding: 2px 6px;
    color: #666 !important;
}

.fmActionButton {
    color: #666 !important;
}
